@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div>
        <div class="calculator">
            <input type="text" id="display" readonly>
            <div class="main-sect">
                <div class="left-side">
                    <div class="reset-btn">
                        <input type="button" value="Reset" onclick="reset()" id="reset-btn">
                    </div>
                    <div class="box">
                        <input type="button" value="7" onclick="addToDisplay('7')">
                        <input type="button" value="8" onclick="addToDisplay('8')">
                        <input type="button" value="9" onclick="addToDisplay('9')">

                    </div>
                    <div class="box">
                        <input type="button" value="4" onclick="addToDisplay('4')">
                        <input type="button" value="5" onclick="addToDisplay('5')">
                        <input type="button" value="6" onclick="addToDisplay('6')">

                    </div>
                    <div class="box">
                        <input type="button" value="1" onclick="addToDisplay('1')">
                        <input type="button" value="2" onclick="addToDisplay('2')">
                        <input type="button" value="3" onclick="addToDisplay('3')">
                    </div>
                    <div class="box">
                        <input type="button" value="0" onclick="addToDisplay('0')">
                        <input type="button" value="." onclick="addToDisplay('.')">

                    </div>
                </div>
                <div class="right-side">
                    <input type="button" value="/" onclick="addToDisplay('/')">
                    <input type="button" value="*" onclick="addToDisplay('*')">
                    <input type="button" value="-" onclick="addToDisplay('-')">
                    <input type="button" value="+" onclick="addToDisplay('+')">
                    <input type="button" value="=" onclick="calculate()">
                </div>
            </div>

        </div>
   </div>
</div>
